<% provide :title, "Home" %>
<h1><%=  t "view.static_pages.static_page" %></h1>
<p> <%= t "view.static_pages.home_1" %> </p>
<%= link_to root_url do %>
  <em><%= t "view.static_pages.help_4" %> </em>
<% end %>
