
<% provide :title, "Home" %>
<h1>Sample App</h1>

<h1>StaticPages</h1>
<p>This is the home page for the sample application<a href="http://www.railstutorial.org/"></p>
 <%= link_to href: "http://www.railstutorial.org/" do %>
    <em>Ruby on Rails Tutorials </em>
    <% end%>

<p>Find me in app/views/static_pages/home.html.erb</p>
